{% extends "::base.html.twig" %}

{% block title %}AppBundle:Pret:pret{% endblock %}

{% block body %}
    <h1>Ajout d'un Prêt</h1>

<form action="{{ path('pret_add') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.type) }}

    <section>
        <ul class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e }}">
            {% for picture in form.pictures %}
                <li>{{ form_row(picture.file) }}</li>
            {% endfor %}
        </ul>
    </section>
    {{ form_rest(form) }}
</form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script>
        var collectionHolder = $('ul.pictures');
        var $addSpecLink = $('<a href="#">Ajouter une picture</a>');

        var $newLinkLi = $('<li></li>').append($addSpecLink);
        jQuery(document).ready(function() {
            collectionHolder.append($newLinkLi);
            $addSpecLink.on('click', function(e) {
                e.preventDefault();
                addSpecForm(collectionHolder, $newLinkLi);
            });
        });
        function addSpecForm(collectionHolder, $newLinkLi) {
            var prototype = collectionHolder.attr('data-prototype');
            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
    {% endblock %}
